pandas
numpy
scikit-learn
xgboost
lightgbm
imbalanced-learn

tensorflow
torch

transformers
sentence-transformers
bertopic

langchain
faiss-cpu
openai

fastapi
uvicorn

boto3
mlflow

python-dotenv
joblib